@layer components {
  .container-custom {
    @apply container mx-auto px-6;
  }
}
// slick navigation dots
.slick-dots li.slick-active button:before {
  color: var(--primary-100);
}
.slick-dots li button:before {
  color: var(--neutral-100);
}

// toastify css overrides
.Toastify__toast-body {
  align-items: flex-start;
}
